<div class="flex flex-col gap-2">
  @for (toast of toastService.notifies(); track toast.id) {
    <div
      class="sm:p-2 p-1 sm:px-4 px-2 rounded-xl shadow-xl bg-white text-black flex items-center gap-2 w-fit max-w-max border-2 border-black/20 animate-fadein transition-all transform absolute z-50 right-5" [ngClass]="`${toast.position}-5`"
    >
      @switch (toast.type) {
        @case ('success') {
          <i-lucide [img]="CheckCircle2" class="text-green-500" size="18" />
        }
        @case ('error') {
          <i-lucide [img]="XCircle" class="text-red-500" size="18" />
        }
        @case ('info') {
          <i-lucide [img]="InfoIcon" class="text-blue-500" size="18" />
        }
        @case ('warning') {
          <i-lucide [img]="MessageCircleWarningIcon" class="text-yellow-500" size="18" />
        }
      }

      <span class="font-normal">{{ toast.message }}</span>
      <i-lucide [img]="XIcon" class="cursor-pointer" size="15" (click)="toastService.removeToast(toast.id)" />
    </div>
  }
</div>